blinker==1.4 
cachelib==0.1.1 
certifi
chardet
click
Flask==1.1.2 
Flask-Mail==0.9.1 
Flask-MySQLdb==0.2.0 
Flask-Session==0.3.2 
idna
itsdangerous==1.1.0 
Jinja2==2.11.1
joblib==0.14.1
MarkupSafe==1.1.1
mysqlclient==2.0.3 
nltk==3.4.5
passlib==1.7.4
regex==2020.7.14
requests==2.22.0
tqdm==4.43.0
urllib3==1.25.6
Werkzeug==1.0.1 
spacy==3.0.1
Flask-PyMongo==2.3.0 
PyMongo==3.11.3
dnspython==2.1.0
flask-cors==3.0.10